<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <%- include("partials/header") %> 
    <div>
        <h1>Create Account</h1>

        <form action="/users/create" method="POST">
            <label for="firstname">Firstname</label>
            <input type="text" name="firstname" placeholder="Enter Firsname" <% if (locals.data != null) { %> value="<%= data.firstname %>" <% } %> ><br>
            <label for="lastname">Lastname</label>
            <input type="text" name="lastname" placeholder="Enter Lastname" <% if (locals.data != null) { %> value="<%= data.lastname %>" <% } %>><br>
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="Enter Username" <% if (locals.data != null) { %> value="<%= data.username %>" <% } %>><br>
            <label for="email">Email</label>
            <input type="email" name="email" placeholder="Enter Email" <% if (locals.data != null) { %> value="<%= data.email %>" <% } %>><br>
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Enter Password" <% if (locals.data != null) { %> value="<%= data.password %>" <% } %>><br>
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" name="confirmPassword" placeholder="Confirm Password" <% if (locals.data != null) { %> value="<%= data.confirmPassword %>" <% } %>><br>
            <input type="submit"><br>
            <a href="/users/login">Login</a>
        </form>

        <% if(locals.error != null) { %> 
            <% for (const i of error) { %>
                <p style="color: red;"><%= i %> </p>
            <% } %>
        <% } %> 
        
    </div>
<%- include("partials/footer") %>
</body>
</html>